.Table {
  margin: 4em 0;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }

  .Table-export-button {
    margin: 1em 0;
    margin-left: auto;
  }

  .info-icon {
    color: rgba(0, 0, 0, 0.1);
    display: inline-block;
    margin-left: 1em;
    font-size: 1.2em;
  }
}
