.Header {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  padding: 4em;
  background-color: whitesmoke;
  .header-icon {
    margin: 0 3px;
  }
  h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 101, 19);
    font-family: "Bebas Neue", cursive;
    font-size: 4rem;
    letter-spacing: 4px;
    margin: 0 0 0.2em;
    @media (min-width: 600px) {
      flex-direction: row;
    }

    .Header-h1-main {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .Header-accent {
      font-family: Roboto;
      font-weight: 100;
      font-size: 3rem;
    }
  }
  h2 {
    color: white;
    display: inline-block;
    font-size: 1em;
    padding: 0.5em 2em;
    border-radius: 25px;
    letter-spacing: 1px;
    background-color: lightgrey;
    border: 1px solid rgba(0, 0, 0, 0.2);
    a {
      color: rgb(255, 101, 19);
    }
  }
}
